@import "tailwindcss";

/* Safelist TailwindCSS */
/* @source inline("fill-{whiteCream,yellowCorn,darkTangerine,golden}"); */

@theme {
  /* Mobile & Desktop Breakpoint 📱💻 */
  --breakpoint-mobile-sm: 22.5rem; /* 360px */
  --breakpoint-mobile-special: 23.438rem; /* 375px */
  --breakpoint-mobile-md: 24.063rem; /* 385px */
  --breakpoint-mobile-lg: 25.625rem; /* 410px */
  --breakpoint-mobile-xl: 26.25rem; /* 420px */
  --breakpoint-dsm: 85.375rem; /* 1366px */
  --breakpoint-dmd: 90rem; /* 1440px */
  --breakpoint-dlg: 109.375rem; /* 1750px */

  /* Colors 🎨 */
  --color-seashell: #FAF7F0;
  --color-whiteCream: #FAF7F0;
  --color-platinum: #E5E5E5;
  --color-sonicSilver: #787777;
  --color-davysGrey: #535455;
  --color-oliveBlack: #3A3B3C;
  --color-chineseBlack: #131415;
  --color-raisinBlack: #1F2021;
  --color-charlestonGreen: #262728;
  --color-aeroBlue: #D1FAE5;
  --color-eucalyptusGreen: #34D399;
  --color-mountainGreen: #24C38E;
  --color-crayolaGreen: #10B981;

  /* Keyframes Animation 🎬 */
  /* --animation-slide-in: slide-in 0.5s ease-out forwards; */

  /* Background Image 🖼️ */
  --background-image-dot-pattern: url('/public/images/dot-pattern.svg');
}

body {
  @apply w-full h-full bg-chineseBlack;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes float3d {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  30% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Stay normal longer */
  }
  40% {
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(15deg); /* Quick transform */
  }
  70% {
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(15deg); /* Stay 3D longer */
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Quick back */
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Stay normal */
  }
}

.animate-float3d {
  animation: float3d 6s ease-in-out infinite;
}

.gradient-border {
  border-style: dashed;
  border-width: 1px 0;
  border-image: linear-gradient(to right, #3A3B3C 0%, #131415 100%);
  border-image-slice: 1;
}

.scale-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}