@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'anton';
  src: url('/fonts/anton-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'jomhuria';
  src: url('/fonts/jomhuria-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'monasans-light';
  src: url('/fonts/monasans-light.ttf') format('truetype');
}

@font-face {
  font-family: 'monasans-medium';
  src: url('/fonts/monasans-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'monasans-regular';
  src: url('/fonts/monasans-regular.ttf') format('truetype');
}

body {
  background-color: #FFF5EA;
  overflow-x: hidden;
}

.appear-timeline-thirty {
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.appear-timeline-sixty {
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}

.animation-delay-two {
  animation-delay: 1000ms;
}

.animation-delay-three {
  animation-delay: 300ms;
}